[submodule ".extra/champs/championships/2018/sgalasso3"]
	path = .extra/champs/championships/2018/sgalasso3
	url = vogsphere@vogsphere.42.fr:intra/2018/activities/corewar_championship/sgalasso3
[submodule ".extra/champs/championships/2018/sboulet"]
	path = .extra/champs/championships/2018/sboulet
	url = vogsphere@vogsphere.42.fr:intra/2018/activities/corewar_championship/sboulet
[submodule "nolivier"]
	path = .extra/champs/championships/2018/nolivier
	url = vogsphere@vogsphere.42.fr:intra/2018/activities/corewar_championship/nolivier
[submodule ".extra/champs/championships/2018/mkamel"]
	path = .extra/champs/championships/2018/mkamel
	url = vogsphere@vogsphere.42.fr:intra/2018/activities/corewar_championship/mkamel
[submodule "mbenjell3"]
	path = .extra/champs/championships/2018/mbenjell3
	url = vogsphere@vogsphere.42.fr:intra/2018/activities/corewar_championship/mbenjell3
[submodule "chaydont"]
	path = .extra/champs/championships/2018/chaydont
	url = vogsphere@vogsphere.42.fr:intra/2018/activities/corewar_championship/chaydont
[submodule "bcozic"]
	path = .extra/champs/championships/2018/bcozic
	url = vogsphere@vogsphere.42.fr:intra/2018/activities/corewar_championship/bcozic
[submodule "arobion"]
	path = .extra/champs/championships/2018/arobion
	url = vogsphere@vogsphere.42.fr:intra/2018/activities/corewar_championship/arobion
